<h1>Add Product View</h1>

<form method="post">
    <div class="mb-3 mt-3">
        <label for="productName" class="form-label">Ürün:</label>
        <input type="text" class="form-control" id="product" name="productName">
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>

