﻿<h2>Marka Ekle</h2>

<form method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Marka Adı:</label>
        <input type="text" class="form-control" placeholder="Enter Brand Name" name="brandName">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Açıklama :</label>
        <input type="text" class="form-control" placeholder="Enter Displaing Text" name="brandDisplayText">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Adres:</label>
        <input type="text" class="form-control" placeholder="Enter Address" name="brandAddress">
    </div>
    <button type="submit" class="btn btn-primary">Oluştur</button>
</form> 